*.o
*.obj

*.a
*.lib
*.so

*.exe
*.out
*.app
*.elf

build/
dist/
Debug/
Release/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace
.netrc
tags
.tags
cscope.*
*.vim


*.log
*.swp
.project
.cproject
.clang-format
*.fish
#*.txt
image_processing_test.ipynb

#enlevez pas svp
venv_pour_tts/
__pycache__/
*.pyc
.venv